body {
  text-align: center;
  background-color: #001401;
  
  font-size: calc(12px + 2vmin);
  color: white;
}

.login-page {
  display: flex;
  flex-direction: column;
  flex: auto;
  align-items: center;
  justify-content: center;
}


@media (prefers-reduced-motion: no-preference) {
  .cover {
    animation: cover-spin infinite 20s linear;
  }
}

.App-link {
  color: rgb(255, 208, 0);
}

.Form-login {
  background-color: rgba(229, 255, 0, 0.11);
  border-radius: 20px;
  margin: 10px;
}

.Form-login-entry{
  margin-left:10px;
  margin-right: 10px;
}

.form-label{
  margin-right:10px
}

.Login-Btn{
  Margin: 10px;
}

@keyframes cover-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

td{
  padding-left: 5px;
}


.userDisplay {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.list-container {
  position: relative;
  border: 6px solid rgb(0, 255, 136);
  padding: 32px;
}