.App {
  text-align: center;
}

.layered {
  display: grid;
  justify-items: start;
  align-items: start;
}
.layered >* {
  grid-column-start: 1;
  grid-row-start: 1;
}

.cover {
  height: 24vmin;;

}
.wheel {
  margin-top: 8%;
  margin-left: 8%;
  height: 20.5vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .cover {
    animation: cover-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: rgb(0, 0, 0);
}

.Router {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Form-login {
  background-color: rgba(229, 255, 0, 0.11);
  border-radius: 20px;
  margin: 10px;
}

.Form-login-entry{
  margin-left:10px;
  margin-right: 10px;
}

.form-label{
  margin-right:10px
}

.Login-Btn{
  Margin: 10px;
}

@keyframes cover-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
