body {
  text-align: center;
  background-color: #001401;
  margin-left: auto;
  margin-right: auto;
  font-size: calc(12px + 2vmin);
  color: white;
}
td{
  padding-left: 5px;
}
footer {
  position:absolute;
  bottom: 50px;
  left: 35%;
  right: 35%;
}
button {
  border-radius: 10px;
  width: 200px;
  height: 50px;
  font-size: medium;
  background-color: rgb(210, 250, 210);
  color: rgb(0, 0, 0);
}
.home-page {
  background: linear-gradient(#93cf89,#004904cc, #001401);
  margin-left: 0%;
  margin-right: 0%;
}
.home-page-header{
  display: flex;
  flex-direction: column;
  flex: auto;
  align-items: center;
  justify-content: center;
}
.home-page-left {
  float: left;
  margin-left:20%;
}
.home-page-right {
  float: right;
  margin-right:20%;
}


.link {
  color: rgb(255, 208, 0);
}



.userDisplay {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.list-container {
  position: relative;
  border: 6px solid rgb(0, 255, 136);
  padding: 32px;
}

.status-icon {
  font-size: 50px;
}

#header-grad {
  background: linear-gradient(#93cf89,#004904cc, #001401);
}


@media (prefers-reduced-motion: no-preference) {
  .cover {
    animation: cover-spin infinite 20s linear;
  }
}
@keyframes cover-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}