.Sky, .Houses, .City, .Lawn{
    position: absolute;
    top: 0;
    height: 200px;
}
.City {
    right: 0;
    z-index: 2;
}
.Sky {
    width:100%;
    left:0;
    height:90px;
    z-index: 0;
}
.Houses{
    left: 0;
    z-index: 2;
}
.Lawn {
    z-index: 1;
}

.ProfileTitle {
    position:relative;
    z-index: 3;
    margin-left:auto;
    margin-right:auto;
}

.layered {
    display: grid;
    justify-items: start;
    align-items: start;
  }
  .layered >* {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  
  .cover {
    height: 24vmin;;
  
  }
  .wheel {
    margin-top: 8%;
    margin-left: 8%;
    height: 20.5vmin;
  }

  h1 {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    color: #f3e40b;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
  }
  .descriptor {
      font-size: 20px;
  }