.Sky, .Houses, .City, .LawnCenter, .LawnLeft, .LawnRight{
    position: absolute;
    top: 0;
    height: 30%;
}
.City {
    right: 0;
    z-index: 2;
}
.Sky {
    width:100%;
    left:0;
    height:20%;
    z-index: 0;
}
.Houses{
    left: 0;
    z-index: 2;
}
.LawnLeft {
    z-index: 1;
    left: 5%;
}
.LawnRight {
    z-index: 1;
    right: 5%;
}
.LawnCenter {
    z-index: 1;
    left:33%;
}
.ProfileTitle {
    z-index: 1;
}