
.userDisplay {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

.list-container {
    position: relative;
    border: 6px solid rgb(0, 255, 136);
    padding: 32px;
}